.testimonials {
    padding: 40px 40px;
    background-color: #f9f9f9;
}

.testimonials-title {
    font-family: "Karla", sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}


.testimonials-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    padding-left: 20px;
}

.testimonial-card {
    background-color: #EDEFEE;
    border-radius: 16px;
    padding: 20px;
    width: 250px;
    flex-shrink: 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.rating {
    font-size: 18px;
    color: #EE9972;
    margin-bottom: 10px;
}

.testimonial-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.testimonial-name {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}

.testimonial-text {
  font-family: "Karla", sans-serif;
  font-size: 16px; /* UI kit paragraph */
  font-weight: 400;
  line-height: 1.5;
  color: #333333;
  text-align: center;
}

@media (max-width: 768px) {
    .testtimonials {
        padding: 40px 20px;
    }

    .testimonials-scroll {
        padding-left: 20px;
    }

    .testimonial-card {
        width: 220px;
    }
}